<!-- <ion-header>
  <ion-toolbar>
    <ion-title>En toda la Planta/</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row class="btn">
    <ion-card-content class="texto"> {{nombre.titulopreg2}} </ion-card-content>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <!-- <ion-button color="dark" fill="outline" routerLink="../../../respuesta" >Respuesta1</ion-button> -->
      <ion-item routerLink="../../../huecos">
        <ion-label>{{nombre.res19}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="huecosImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../huecos" >
      <!-- (click)="huecosModal()" -->
      <img
        src="../../../assets/imagenes/foto31.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <!-- <ion-button color="dark" fill="outline" routerLink="../../../respuesta">En toda la planta</ion-button> -->
      <ion-item routerLink="../../../tuberculo/pie-negro">
        <ion-label>{{nombre.res24}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="pudricionImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../tuberculo/pie-negro">
      <!-- (click)="pudricionModal()" -->
      <img
        src="../../../assets/imagenes/foto72.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <!-- <ion-button color="dark" fill="outline"  routerLink="../../../respuesta">Respuesta3</ion-button> -->
      <ion-item routerLink="../../../tuberculo/carbon">
        <ion-label>{{nombre.res25}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="presenciaagallasImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../tuberculo/carbon" >
      <!-- (click)="presenciaagallasModal()" -->
      <img
        src="../../../assets/imagenes/foto151.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <!-- <ion-button color="dark" fill="outline"  routerLink="../../../respuesta">Respuesta3</ion-button> -->
      <ion-item routerLink="../../../tuberculo/costra-negra">
        <ion-label>{{nombre.res26}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="costranegraImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../tuberculo/costra-negra" >
      <!-- (click)="costranegraModal()" -->
      <img
        src="../../../assets/imagenes/foto91.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../tuberculo/sarna">
        <ion-label>{{nombre.res27}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="ampollasImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../tuberculo/sarna" >
      <!-- (click)="ampollasModal()" -->
      <img
        src="../../../assets/imagenes/foto161.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../tuberculo/agrietamiento">
        <ion-label>{{nombre.res28}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="grietasImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../tuberculo/agrietamiento">
      <!-- (click)="grietasModal()" -->
      <img
        src="../../../assets/imagenes/LOGO INIAP PNG-01.png"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../tuberculo/corazon-hueco">
        <ion-label>{{nombre.res29}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="cavidadImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../tuberculo/corazon-hueco" >
      <!-- (click)="cavidadModal()" -->
      <img
        src="../../../assets/imagenes/LOGO INIAP PNG-01.png"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../tuberculo/rajaduras">
        <ion-label>{{nombre.res30}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="rajadurasImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../tuberculo/rajaduras" >
      <!-- (click)="rajadurasModal()" -->
      <img
        src="../../../assets/imagenes/LOGO INIAP PNG-01.png"
      />
    </ion-row>
  </ion-row>
</ion-content>
