<ion-header>
  <ion-toolbar>
    <ion-title>{{nombre.plagas}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="arrow-forward-outline" routerLink="/home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-button fill="outline">enfermedad1</ion-button>
    </ion-col>
    <ion-button expand="full" (click)="openModal()">imagenes</ion-button>

  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button fill="outline">enfermedad2</ion-button>
    </ion-col>
    <ion-button expand="full" (click)="preg2Modal()">imagenes</ion-button>

  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button fill="outline">enfermedad3</ion-button>
    </ion-col>
    <ion-button expand="full" (click)="preg3Modal()">imagenes</ion-button>

  </ion-row>
</ion-content>
