
<ion-content>
  <ion-row class="btn">
    <ion-card-content class="texto">
      {{nombre.titulopreg1}}
    </ion-card-content>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <!-- <ion-button color="dark" fill="outline" routerLink="../../../respuesta" >Respuesta1</ion-button> -->
      <ion-item  routerLink="../../../respuesta" >
        <ion-label>{{nombre.res}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon (click)="openModal()" color="success" name="images-outline"></ion-icon>
    </ion-item>
    <ion-row>
      <img style="padding:10%; width: 80%; height: 100%; position: relative;"  src="../../../assets/imagenes/LOGO INIAP PNG-01.png">
    </ion-row>
  </ion-row>
  
  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../respuesta"  >
        <ion-label>{{nombre.res34}}</ion-label>
      </ion-item>
    </ion-col>
    <ion-item >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon (click)="preg2Modal()" color="success" name="images-outline"></ion-icon>
    </ion-item>
    <ion-row>
      <img style="padding:10%; width: 80%; height: 100%; position: relative;"  src="../../../assets/imagenes/LOGO INIAP PNG-01.png">
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <!-- <ion-button color="dark" fill="outline"  routerLink="../../../respuesta">Respuesta3</ion-button> -->
      <ion-item routerLink="../../../respuesta" >
        <ion-label>{{nombre.res20}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon (click)="preg3Modal()" color="success" name="images-outline"></ion-icon>
    </ion-item>
    <ion-row>
      <img style="padding:10%; width: 80%; height: 100%; position: relative;"  src="../../../assets/imagenes/LOGO INIAP PNG-01.png">
    </ion-row>
  </ion-row>
</ion-content>

