<ion-content>

  <ion-header>

    <ion-toolbar>
      <ion-title>Galería</ion-title>
      <ion-buttons slot="end">
        <ion-icon  name="information-circle"></ion-icon>
        <ion-button  slot="start" href="../respuesta3/pienegro" >seleccionar</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button  color="danger" slot="end" (click)="salir()" >salir</ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-header>

  <ion-card >
    <img src="../../../assets/imagenes/foto71.jpg" >

  </ion-card>
  
</ion-content>

