<ion-header>
  <ion-toolbar>
    <ion-title size="small" >
      Planta/Hojas con manchas/Pústulas rojas o naranjas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row >
    <ion-col>
      <ion-item  >
        <!-- Roya -->
        <ion-label>{{nombre.preg15}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon (click)="royaImage()" color="success" name="images-outline"></ion-icon>
    </ion-item>

    <ion-row  (click)="royaModal()">
      <img  src="../../../assets/imagenes/foto1.jpg">
    </ion-row>
  </ion-row>

</ion-content>
