<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row>
    <ion-card-content class="texto">
      {{nombre.titulopreg3}}
    </ion-card-content>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../respuesta3/vdnutricional">
        <ion-label>{{nombre.res12}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
        (click)="basetalloImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>
    <ion-row  routerLink="../../../respuesta3/vdnutricional" >
      <!-- (click)="basetalloModal()" -->
      <img
        src="../../../assets/imagenes/fotoa2.JPG"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../respuesta3/pienegro">
        <ion-label>{{nombre.res13}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
        (click)="manchasnegrasImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>
    
    <ion-row  routerLink="../../../respuesta3/pienegro">
    <!-- (click)="manchasnegrasModal()" -->
      <img
        src="../../../assets/imagenes/foto71.jpg"
      />
    </ion-row>
  </ion-row>
</ion-content>
