<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row>
    <ion-card-content class="texto">
      {{nombre.titulopreg3}}
    </ion-card-content>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../respuesta3/vdnutricional">
        <ion-label>{{nombre.res12}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
        (click)="openModal()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>
    <ion-row>
      <img
        style="padding: 10%; width: 80%; height: 100%; position: relative"
        src="../../../assets/imagenes/LOGO INIAP PNG-01.png"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../respuesta3/pienegro">
        <ion-label>{{nombre.res13}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
        (click)="preg2Modal()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>
    <ion-row>
      <img
        style="padding: 10%; width: 80%; height: 100%; position: relative"
        src="../../../assets/imagenes/LOGO INIAP PNG-01.png"
      />
    </ion-row>
  </ion-row>
</ion-content>
