<ion-header>
  <ion-toolbar>
    <ion-title size="small" >
      Tuberculo/Costras negras/
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row >
    <ion-col>
      <ion-item  >
        <ion-label>{{nombre.preg22}}</ion-label>
      </ion-item>
    </ion-col>
    <ion-item >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon (click)="costranegraImage()" color="success" name="images-outline"></ion-icon>
    </ion-item>

    <ion-row (click)="costranegraModal()">
      <img   src="../../../assets/imagenes/foto91.jpg">
    </ion-row>
  </ion-row>

</ion-content>