<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row >
    <ion-card-content class="texto">
      {{nombre.titulopreg2}}
    </ion-card-content>
  </ion-row>


  <ion-row class="cuadro">
    <ion-col>
      <ion-item  routerLink="../../../respuesta3/page1-hojas" >
        <ion-label>{{nombre.res9}}</ion-label>
      </ion-item>
    </ion-col>
    <ion-item >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon (click)="openModal()" color="success" name="images-outline"></ion-icon>
    </ion-item>
    <ion-row>
      <img style="padding:10%; width: 80%; height: 100%; position: relative;"  src="../../../assets/imagenes/LOGO INIAP PNG-01.png">
    </ion-row>
  </ion-row>
  
  <ion-row class="cuadro">
    <ion-col>
      <!-- <ion-button color="dark" fill="outline" routerLink="../../../respuesta">En toda la planta</ion-button> -->
      <ion-item routerLink="../../../respuesta3/page2-hojas"  >
        <ion-label>{{nombre.res10}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon (click)="preg2Modal()" color="success" name="images-outline"></ion-icon>
    </ion-item>
    <ion-row>
      <img style="padding:10%; width: 80%; height: 100%; position: relative;"  src="../../../assets/imagenes/LOGO INIAP PNG-01.png">
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../respuesta3/page3-hojas" >
        <ion-label>{{nombre.res11}} </ion-label>
      </ion-item>
    </ion-col>

    <ion-item >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon (click)="preg3Modal()" color="success" name="images-outline"></ion-icon>
    </ion-item>

    <ion-row>
      <img style="padding:10%; width: 80%; height: 100%; position: relative;"  src="../../../assets/imagenes/LOGO INIAP PNG-01.png">
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <!-- <ion-button color="dark" fill="outline"  routerLink="../../../respuesta">Respuesta3</ion-button> -->
      <ion-item routerLink="../../../respuesta3/page4-hojas" >
        <ion-label>{{nombre.res3}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon (click)="preg3Modal()" color="success" name="images-outline"></ion-icon>
    </ion-item>
    <ion-row>
      <img style="padding:10%; width: 80%; height: 100%; position: relative;"  src="../../../assets/imagenes/LOGO INIAP PNG-01.png">
    </ion-row>
  </ion-row>
  
</ion-content>