<ion-header>
  <ion-toolbar>
    <ion-title size="small" >
      Tallos/Engrosamiento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row >
    <ion-col>
      <ion-item  >
        <ion-label>{{nombre.preg13}}</ion-label>
      </ion-item>
    </ion-col>
    <ion-item >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon (click)="puntamoradaImage()" color="success" name="images-outline"></ion-icon>
    </ion-item>

    <ion-row  (click)="puntamoradaModal()">
      <img  src="../../../assets/imagenes/foto111.jpg">
    </ion-row>
  </ion-row>

</ion-content>