<ion-header>
  <ion-toolbar>
    <ion-title size="small" >
      Planta/Plantas pequeñas/Raices sanas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row >
    <ion-col>
      <ion-item >
        <!-- virosis nematodos -->
        <ion-label> {{nombre.preg17}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon (click)="virosisImage()" color="success" name="images-outline"></ion-icon>
    </ion-item>

    <ion-row (click)="virosisModal()">
      <img src="../../../assets/imagenes/foto61.jpg">
    </ion-row>
  </ion-row>

</ion-content>