<!-- <ion-header>
  <ion-toolbar>
    <ion-title>En toda la Planta/</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row class="btn">
    <ion-card-content class="texto">
      <!-- ¿Qué síntomas o daños observa? -->
      {{nombre.titulopreg2}}
    </ion-card-content>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../respuesta2">
        <ion-label>{{nombre.res2}} </ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="hojasmanchasplantaImage()" 
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../respuesta2" >
      <!-- (click)="hojasmanchaModal()" -->
      <img
        src="../../../assets/imagenes/foto1.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <!-- <ion-button color="dark" fill="outline" routerLink="../../../respuesta">En toda la planta</ion-button> -->
      <ion-item routerLink="../../../respuesta3/page2">
        <ion-label>{{nombre.res3}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="hojasmoradasImage()" 
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../respuesta3/page2" >
      <!-- (click)="hojasmoradasModal()" -->
      <img
        src="../../../assets/imagenes/foto113.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../hojas-amarillas">
        <ion-label>{{nombre.res4}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="hojasamarillasplantaImage()" 
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../hojas-amarillas" >
      <!-- (click)="hojasamarillasModal()" -->
      <img
        src="../../../assets/imagenes/foto63.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../respuesta3/heladas">
        <ion-label>{{nombre.res5}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="hojasmarchitasImage()" 
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../respuesta3/heladas" >
      <!-- (click)="hojasmarchitasModal()" -->
      <img
        src="../../../assets/imagenes/foto81.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../plantas-pequenas">
        <ion-label>{{nombre.res6}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="plantaspequenasImage()" 
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../plantas-pequenas" >
      <!-- (click)="plantaspequenasModal()" -->
      <img
        src="../../../assets/imagenes/foto64.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../respuesta3/virosis2-planta">
        <ion-label>{{nombre.res7}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="hojasmosaicoImage()" 
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row routerLink="../../../respuesta3/virosis2-planta" >
      <!-- (click)="mosaicoModal()" -->
      <img
        src="../../../assets/imagenes/LOGO INIAP PNG-01.png"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
       <ion-item routerLink="../../../respuesta3/virosis">
        <ion-label>{{nombre.res8}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="enrrollamientoplantaImage()" 
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>
    <ion-row routerLink="../../../respuesta3/virosis" >
      <!-- (click)="enrollamientoModal()" -->
      <img
        src="../../../assets/imagenes/foto61.jpg"
      />
    </ion-row>
  </ion-row>
</ion-content>
