
<ion-content>
  <ion-row>
    <ion-card-content class="texto">
      {{nombre.titulopreg2}}
    </ion-card-content>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../hojas/mosca-minadora">
        <!-- Hojas minadas -->
        <ion-label>{{nombre.res17}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="hojasminadasImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>
    <ion-row routerLink="../../../hojas/mosca-minadora" >
      <!-- (click)="hojasminadasModal()" -->
      <img
        src="../../../assets/imagenes/foto41.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../hojas/gusano-blanco">
        <!-- Hojas comidas en los filos en forma de luna -->
        <ion-label>{{nombre.res18}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="hojascomidasImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>
    <ion-row routerLink="../../../hojas/gusano-blanco">
      <!-- (click)="hojascomidasModal()" -->
      <img
        src="../../../assets/imagenes/foto31.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../hojas/pulguilla">
        <!-- Raíces presenta bolitas color crema -->
        <ion-label> {{nombre.res15}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="presenciabolitasImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>
    <ion-row routerLink="../../../hojas/pulguilla" >
      <!-- (click)="presenciabolitasModal()" -->
      <img
        src="../../../assets/imagenes/foto131.jpg"
      />
    </ion-row>
  </ion-row>

</ion-content>
