<!-- <ion-header>
  <ion-toolbar>
    <ion-title>En toda la Planta/</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row class="cuadro">
    <ion-col>
      <ion-item>
        <ion-label>{{nombre.preg5}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="gusanoblancoImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row (click)="gusanoblancoModal()">
      <img
        src="../../../assets/imagenes/foto31.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <!-- <ion-button color="dark" fill="outline" routerLink="../../../respuesta">En toda la planta</ion-button> -->
      <ion-item>
        <ion-label>{{nombre.preg21}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="polillaImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row (click)="polillaModal()">
      <img
        src="../../../assets/imagenes/foto51.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <!-- <ion-button color="dark" fill="outline"  routerLink="../../../respuesta">Respuesta3</ion-button> -->
      <ion-item>
        <ion-label>{{nombre.preg28}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="psilidosImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row (click)="psilidosModal()">
      <img
        src="../../../assets/imagenes/LOGO INIAP PNG-01.png"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <!-- <ion-button color="dark" fill="outline"  routerLink="../../../respuesta">Respuesta3</ion-button> -->
      <ion-item>
        <ion-label>{{nombre.preg29}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="pulgonesImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row (click)="pulgonesModal()">
      <img
        src="../../../assets/imagenes/foto141.jpg"
      />
    </ion-row>
  </ion-row>
</ion-content>
