<ion-header>
  <ion-toolbar>
    <ion-title size="small">
      Planta/Plantas pequeñas/Raices-bolitas color crema
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label> {{nombre.preg12}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
        (click)="nematodosImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row (click)="nematodosModal()">
      <img
        src="../../../assets/imagenes/foto101.jpg"
      />
    </ion-row>
  </ion-row>
</ion-content>
