<ion-header>
  <ion-toolbar>
    <ion-title size="small"> Hojas/Hojas-mordidas/Hojas-minadas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>{{nombre.preg6}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="moscaminadoraImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row (click)="moscaminadoraModal()">
      <img
        src="../../../assets/imagenes/foto41.jpg"
      />
    </ion-row>
  </ion-row>
</ion-content>
