<ion-content>

  <ion-header>

    <ion-toolbar>
      <ion-title>Información</ion-title>
      <ion-buttons slot="end">
        <ion-button  color="danger" slot="end" (click)="salir()" >salir</ion-button>
      </ion-buttons>
    </ion-toolbar>

    
  </ion-header>
  <ion-card class="borde">

    <ion-card-content>
      Nombre común: {{nombre.Enfer23}}
    </ion-card-content>

    <ion-card-content>
      Nombre científico: {{nombre.Enfer23Cien}}
    </ion-card-content>
  
    <ion-card-content>
      Descripción: {{nombre.Enfer23Des}}
    </ion-card-content>

    <ion-card-content>
     Síntomas: {{nombre.Enfer23_Sint}}
    </ion-card-content>

    <ion-card-content>
      Manejo: {{nombre.ManejoEnfer23}}
    </ion-card-content>

    <img src="../../../assets/imagenes/LOGO INIAP PNG-01.png" >
  </ion-card>

</ion-content>

