<ion-content>
  <ion-row class="cuadro">
    <ion-col>
      <ion-item>
        <ion-label>{{nombre.preg2}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="royaImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row (click)="royaModal()">
      <img
        src="../../../assets/imagenes/foto1.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item>
        <ion-label>{{nombre.preg3}} </ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="lanchaImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row (click)="lanchaModal()">
      <img
        src="../../../assets/imagenes/foto11.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item>
        <ion-label>{{nombre.preg4}} </ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="tripsImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row (click)="tripsModal()">
      <img
        src="../../../assets/imagenes/foto21.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item>
        <ion-label>{{nombre.preg13}} </ion-label>
      </ion-item>
    </ion-col>

    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="puntamoradaImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row (click)="puntamoradaModal()">
      <img
        src="../../../assets/imagenes/foto111.jpg"
      />
    </ion-row>
  </ion-row>
</ion-content>
