<ion-header>
  <ion-toolbar>
    <ion-title size="small" >
      Tuberculo/Rajaduras/
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row >
    <ion-col>
      <ion-item >
        <ion-label>{{nombre.res30}}</ion-label>
      </ion-item>
    </ion-col>
    <ion-item >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon (click)="rajadurasImage()" color="success" name="images-outline"></ion-icon>
    </ion-item>

    <ion-row >
      <img src="../../../assets/imagenes/LOGO INIAP PNG-01.png">
    </ion-row>
  </ion-row>

</ion-content>