.my-custom-menu {
  --width: 250px;
}

img{
  height: 70vh;
  width: auto;
  margin: auto;
  display: block;
  align-items: center;
}

// img {
//     height: 60vh !important;
//     width: auto !important;
//     align-items: center;
//     }


