<ion-app >

  <ion-menu  class="my-custom-menu"  menuId="main-menu"  content-id="main">
    <!-- <ion-header routerLink="/home">
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header> -->

    <div style="background-color:  rgb(22, 109, 33); height: 20%; "  routerLink="/home" >
      <img style="width: 80%; margin-left: 6%; height: 100%; padding: 6%;"  src="../assets/imagenes/logo-iniap-blanco.png">

    </div>
    
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/enfermedad" >
            <ion-icon  name="leaf-outline" slot="start"></ion-icon>
            <ion-label>{{nombre.screem1}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item routerLink="/plagas">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-label>{{nombre.screem2}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item routerLink="/publicaciones">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-label>{{nombre.screem3}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
