<ion-content>

  <ion-header>

    <ion-toolbar>
      <ion-title>Información</ion-title>
      <ion-buttons slot="end">
        <ion-button  color="danger" slot="end" (click)="salir()" >salir</ion-button>
      </ion-buttons>
    </ion-toolbar>

    
  </ion-header>
  <ion-card class="borde">

    <ion-card-content>
      Nombre común: {{nombre.Enfer48}}
    </ion-card-content>

    <ion-card-content>
      Nombre científico: {{nombre.Enfer48Cien}}
    </ion-card-content>
  
    <ion-card-content>
      Descripción: {{nombre.Enfer48Des}}
    </ion-card-content>

    <ion-card-content>
     Síntomas: {{nombre.Enfer48_Sint}}
    </ion-card-content>

    <ion-card-content>
      Manejo: {{nombre.ManejoEnfer48}}
    </ion-card-content>

    <img src="../../../assets/imagenes/fotoc1.jpg" >
  </ion-card>

</ion-content>

