<ion-content>

  <ion-header>

    <ion-toolbar>
      <ion-title>Galería</ion-title>
      <ion-buttons slot="end">
        <ion-button  color="danger" slot="end" (click)="salir()" >salir</ion-button>
      </ion-buttons>
    </ion-toolbar>

    
  </ion-header>
  <ion-card class="borde">

    <ion-card-content>
      Nombre común: {{nombre.Enfer1}}
    </ion-card-content>

    <ion-card-content>
      Nombre científico: {{nombre.Enfer1Cien}}
    </ion-card-content>
  
    <ion-card-content>
      Descripción: {{nombre.Enfer1Des}}
    </ion-card-content>

    <ion-card-content>
     Síntomas: {{nombre.Enfer1_Sint}}
    </ion-card-content>

    <ion-card-content>
      Manejo: {{nombre.ManejoEnfer1}}
    </ion-card-content>

    <img src="../../../assets/imagenes/LOGO INIAP PNG-01.png" >
  </ion-card>
  
</ion-content>

