<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row>
    <ion-card-content class="texto">
      ¿Observa algún síntoma o daño en la base del tallo?
    </ion-card-content>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../respuesta3/vdnutricional-hojas">
        <ion-label>Base del tallo normal</ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
        (click)="openModal()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>
    <ion-row>
      <img
        style="padding: 10%; width: 80%; height: 100%; position: relative"
        src="../../../assets/imagenes/LOGO INIAP PNG-01.png"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../respuesta3/pienegro-hojas">
        <ion-label>Manchas negras en las base del tallo</ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
        (click)="preg2Modal()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>
    <ion-row>
      <img
        style="padding: 10%; width: 80%; height: 100%; position: relative"
        src="../../../assets/imagenes/LOGO INIAP PNG-01.png"
      />
    </ion-row>
  </ion-row>
</ion-content>
