
<ion-content>
  <ion-row>
    <ion-card-content class="texto">
      <!-- ¿Observa algún síntoma o daño en la base del tallo? -->
      {{nombre.titulopreg3}}
    </ion-card-content>
  </ion-row>


  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../respuesta3hojas">
        <ion-label>{{nombre.res12}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="basetalloImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>
    <ion-row routerLink="../../../respuesta3hojas" >
      <!-- (click)="basetalloModal()" -->
      <img
        src="../../../assets/imagenes/foto61.jpg"
      />
    </ion-row>
  </ion-row>

  <ion-row class="cuadro">
    <ion-col>
      <ion-item routerLink="../../../hojas/pie-negro">
        <ion-label>{{nombre.res13}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon
      (click)="manchasnegrasImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>
    <ion-row routerLink="../../../hojas/pie-negro" >
      <!-- (click)="manchasnegrasModal()" -->
      <img
        src="../../../assets/imagenes/foto71.jpg"
      />
    </ion-row>
  </ion-row>
</ion-content>
