<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> INIAP </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding >

  <ion-row  class="btn">
    <ion-col id="columnaA">
      <ion-button
        expand="full"
        shape="round"
        color="success"
        fill="outline"
        routerLink="/enfermedad"
        >¿Qué Enfermedad es?</ion-button
      >
    </ion-col>
    <ion-col id="columnaA">
      <ion-button
        expand="full"
        shape="round"
        color="success"
        
        fill="outline"
        routerLink="#"
        >Enfermedades y Plagas</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
