<ion-header>
  <ion-toolbar>
    <ion-title size="small"> Hojas/hojas con manchas/ </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>{{nombre.preg14}} </ion-label>
      </ion-item>
    </ion-col>
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon (click)="lanchaImage()"
        color="success"
        name="images-outline"
      ></ion-icon>
    </ion-item>

    <ion-row (click)="lanchaModal()">
      <img
       
        src="../../../assets/imagenes/foto11.jpg"
      />
    </ion-row>
  </ion-row>
</ion-content>
